<div class="box">
	<%= link_to (image_tag item.image.url(:medium)), item %>
  
  
    <p>
      <%= link_to('+1', vote_up_item_path(item), :method => :post)  %>
       | 
      <%= item.votes_for %>
    </p>


  <p class="description">
  	<%= item.description %>
  </p>
  <p>
  	<strong>
  		Posted by <%= item.user.name %>
  	</strong>
  </p>

  <%= link_to 'Show', item %>

  <% if current_user == item.user %>
		<p>
			<%= link_to 'Edit', edit_item_path(item) %>
			<%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
  <% end %>
</div>