<div class="row">
	<div class="span6 offset3">
		<div class="well">
			
			<%= image_tag @item.image %>
			
			<p>	
  				<%= @item.description %>
			</p>

			<p>
				<%= @item.votes_for %>
			</p>

			<p>	
  				<%= @item.user.name %>
			</p>

			<% if current_user == @item.user %>
				<%= link_to 'Edit', edit_item_path(@item) %> |
			<% end %>

			<%= link_to 'Back', items_path %>

		</div>
	</div>
</div>
